<html>
<head>
    <script type="text/javascript">
        function getLocationConstant() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(onGeoSuccess, onGeoError);
            } else {
                alert("Your browser or device doesn't support Geolocation");
            }
        }
    
        // If we have a successful location update
        function onGeoSuccess(event) {
            document.getElementById("Lat+Long").value = [event.coords.latitude,event.coords.longitude];
            document.getElementById('location').submit(); 
        }
    
        // If something has gone wrong with the geolocation request
        function onGeoError(event) {    
            alert("Error code " + event.code + ". " + event.message);
        }
    </script>
</head>

<body>
    <form id='location' action="/nearest1" method="post">
        <input type="hidden" id='Lat+Long' name='id' />
        <input type='button' onclick="getLocationConstant()" value='blah'>
    </form>
</body>



</html>