<html>
<head>
    <script type="text/javascript">
        function getLocationConstant() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(onGeoSuccess, onGeoError);
            } else {
                alert("Your browser or device doesn't support Geolocation");
            }
        }
    
        // If we have a successful location update
        function onGeoSuccess(event) {
            document.getElementById("Lat+Long").value = [event.coords.latitude,event.coords.longitude];
            document.getElementById('location').submit(); 
        }
    
        // If something has gone wrong with the geolocation request
        function onGeoError(event) {    
            alert("Error code " + event.code + ". " + event.message);
        }
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cyborg/bootstrap.min.css" 
    integrity="sha384-nEnU7Ae+3lD52AK+RGNzgieBWMnEfgTbRHIwEvp1XXPdqdO6uLTd/NwXbzboqjc2" crossorigin="anonymous">
</head>

<body>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active">Nearest Stop</li>
      </ol>
    <form id='location' action="/nearestbusstop" method="post">
        <input type="hidden" id='Lat+Long' name='id' />
        <input type='button' class='btn btn-primary' onclick="getLocationConstant()" value='Press me to get your nearest bus stop!'>
    </form>

    {% if submission_successful %}
        <p>The nearest bus stop is {{distance_data[0]['Description']}} ({{distance_data[0]['BusstopCode']}})</p>
        <table class = 'table table-hover'>
            <tr>
                <th scope="row">Bus Stop Code</th>
                <th>Bus Stop Name</td>
                <th>Distance from Bus Stop/km</td>
            </tr>
            {% for i in range(10) %}
                <tr>
                    <td>{{distance_data[i]['BusstopCode']}}</td>
                    <td>{{distance_data[i]['Description']}}</td>
                    <td>{{distance_data[i]['distance']}}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
</body>



</html>