<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script type="text/javascript">
        function getLocationConstant() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(onGeoSuccess, onGeoError);
            } else {
                alert("Your browser or device doesn't support Geolocation");
            }
        }
    
        // If we have a successful location update
        function onGeoSuccess(event) {
            document.getElementById("Lat").value = event.coords.latitude;
            document.getElementById("Long").value = event.coords.longitude;
            document.getElementById('location').submit(); 
        }
    
        // If something has gone wrong with the geolocation request
        function onGeoError(event) {    
            alert("Error code " + event.code + ". " + event.message);
        }
    </script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/pulse/bootstrap.min.css" integrity="sha384-L7+YG8QLqGvxQGffJ6utDKFwmGwtLcCjtwvonVZR/Ba2VzhpMwBz51GaXnUsuYbj" crossorigin="anonymous">
</head>

<body>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active">Nearest Stop</li>
    </ol>
    <div class='container'>
    <h6>Press "Get Current Location" to automatically to get your location or manually input your location.</h6>
    
    <form id='location' action="/nearestbusstop" method="get">
        <input type="hidden" id='Lat' name='Lat' />
        <input type="hidden" id='Long' name='Long'>
        <input type='button' class='btn btn-primary mb-2' onclick="getLocationConstant()" value='Get current location'>    
    </form>
    <form action="/nearestbusstop" method='get'>
        <label for='lat'>Input latitude:</label>
        <input type='text' id='lat' name = 'Lat'>
        <label for='Long'>Input longitude:</label>
        <input type='text' id='Long' name='Long' >
        <input type ='submit' class='btn btn-primary'>
    </form>
    <h6>{{ error }}</h6>
    {% if submission_successful %}
        <p>The nearest bus stop is {{distance_data[0]['Description']}} ({{distance_data[0]['BusstopCode']}})</p>
        <table class = 'table table-hover'>
            <tr>
                <th scope="row">Bus Stop Code</th>
                <th>Bus Stop Name</td>
                <th>Distance from Bus Stop/km</td>
            </tr>
            {% for i in range(10) %}
                <tr>
                    <td>{{distance_data[i]['BusstopCode']}}</td>
                    <td>{{distance_data[i]['Description']}}</td>
                    <td>{{distance_data[i]['distance']}}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    </div>

    
</body>



</html>